$card-color: #C39F52;
$background-color: #001534;
$title-color: #21130d;
$primary-color: #15DEA5;
$button-color: #FBF8F3;

$breakpoint-xs: 570px;
$breakpoint-s: 900px;
$breakpoint-m: 1100px;
$breakpoint-l: 1535px;