/* Game colors */
$card-color: #C39F52;
$background-color: #001534;
$title-color: #002645;
$primary-color: #0ac3a7;
$button-color: #FBF8F3;
/* Game breakpoint */
$breakpoint-xs: 570px;
$breakpoint-s: 900px;
$breakpoint-m: 1100px;
$breakpoint-l: 1535px;